VITE_SUPABASE_URL=https://epvoyacpattukyawoqhp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVwdm95YWNwYXR0dWt5YXdvcWhwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY5NTg0MDMsImV4cCI6MjA3MjUzNDQwM30.jJbq0w4NEJ6ztXIUn2eFx-dk4nihy-_XokONhGtbzsc



